# BEGIN Cache-Control Headers
<IfModule mod_headers.c>

    <FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
    Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    <FilesMatch "\.(js)$">
    Header set Cache-Control "max-age=2592000, private"
    </FilesMatch>

    <filesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=7200, public"
    </filesMatch>

    # Disable caching for scripts and other dynamic files
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
    Header unset Cache-Control
    </FilesMatch>

</IfModule>
# END Cache-Control Headers


# SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# BEGIN WordPress
# https://wordpress.org/support/article/htaccess/

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress

