html, body {
    height:100%;
    font-size:14px;
    padding:0;
    margin:0;
}
* {
    box-sizing: border-box;
    width:100%;
}

#app {
    padding:1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    display: inline-block;
    padding:1rem;
    width: auto;
    text-decoration:none;
}

form {
    border: 1px solid #cccccc;
    padding:1rem;
    margin:0;
    display:grid;
    grid-template-columns: 1fr;
}

textarea, input, button {
    font-family: monospace;
    padding:0.5rem;
    margin:0.5rem 0;
}
.feedback {
    padding:1rem;
    font-weight: 600;
}