html, body {
    height:100%;
    font-size:14px;
    padding:0;
    margin:0;
}
* {
    box-sizing: border-box;
    width:100%;
}

#app {
    padding:1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    display: inline-block;
    padding:1rem;
    width: auto;
    text-decoration:none;
}

form {
    border: 1px solid #cccccc;
    padding:1rem;
    margin:0;
    display:grid;
    grid-template-columns: 1fr;
}

textarea, input, button {
    font-family: monospace;
    padding:0.5rem;
    margin:0.5rem 0;
}
input[type=checkbox] {
    width:auto;
    min-width:1rem;
}
.feedback {
    padding:1rem;
    font-weight: 600;
}

pre {
    overflow:auto;
}

button {
    overflow-x:hidden;
}

.x4grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rowflex {
    display: flex;
    flex-wrap: wrap;
    align-items:start;
    justify-content: center;
}
.rowflex article {
    overflow:hidden;
    background-color:#cccccc;
}
.x10col > * {
    margin:0.25rem;
    width: calc(100% / 10 - 0.5rem);
}
.x5col > * {
    margin:0.25rem;
    width: calc(100% / 5 - 0.5rem);
}
.x4col > * {
    margin:0.25rem;
    width: calc(100% / 4 - 0.5rem);
}
.x3col > * {
    margin:0.25rem;
    width: calc(100% / 3 - 0.5rem);
}

table {
    table-layout:fixed;
}
thead td {
    background-color:#cccccc;
}
td {
    border: 1px solid #cccccc;
    padding:0.25rem;
    overflow-x:hidden;
}
