html, body {
    padding:0;
    margin:0;
    font-size:16px;
/*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
* {
    width:100%;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.4s ease-in;
}
p a {
    display: inline-block;
    width: auto;
}
header .logo img {
    height:100%;
    object-fit:contain;
}
footer {
    padding: 4rem 0 8rem;
}
main {
    display:flex;
    flex-direction: column;
    align-items:center;
    border-bottom: 2rem solid #000000;
}
header, main, footer {
    max-width: 1366px;
}
section {
    padding:1rem 0 0 0;
}

p {
    padding:0 1rem;
}  

pre {
    margin:0;
    padding: 0 1rem;
    display: block;
    white-space: pre-wrap;
    text-align: left;
/*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
}


h1, main section > h1 {
    font-size:1.2rem;
    padding:0.5rem;
    margin:0;
    vertical-align: middle;
}

h2 {
    font-size:1rem;
    padding:2rem;
    margin:0;
}

h3 {
    font-size:1rem;
    padding:0.5rem;
    margin:0;
}

img {
    object-fit: cover;
}

article {
    padding:0.5rem;
}

article img {
    height:10vmin;
    object-fit:contain;
}

main strong {
    padding: 1rem;
}

form {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-bottom:1rem;
    border:1px solid #cccccc;
}

form label > div {
    font-size:0.8rem;
}

form * {
    display: block;
    margin: 0.10rem 0;
    padding: 0.25rem;
    text-align: left;
    /* font-family: monospace; */
    font-family: 'Roboto', sans-serif;

}
form .feedback {
    font-size:1.2rem;
    font-weight: 700;
}

button {
    cursor: pointer;
}

.h10{
    height: 10vmin;
} 
.h20{
    height: 20vmin;
} 
.h30{
    height: 30vmin;
} 
.h40{
    height: 40vmin;
} 
.h50{
    height: 50vmin;
}
.h60{
    height: 60vmin;
}
.h70{
    height: 70vmin;
}
.h80{
    height: 80vmin;
}
.h90{
    height: 60vmin;
}
.h100{
    height: 100vmin;
}


.of-in {
    object-fit: contain;
}
.of-out {
    object-fit: cover;
}

textarea {
    text-align:left;
}

footer img.logo {
    width:20vmin;
}
/*********************/
/* COLORS            */
/*********************/


body {
    background: #000000 url('../img/code-640.jpg') fixed repeat center center;
    background-size: cover;
}  
header {
    background: url('../img/code-1600.jpg') right top;
    background-size: cover;
}
main {
    background: none;
}
section {
    background-color: #fcfcfc;
}
h2, h3 {
    color: #212121;;
}
footer {
    background-color: rgba(0,0,0,0.5);
}

.s1, .s3, .s5, .s7 {
    color: #000000;
}
.s2, .s6, .s8 {
    background-color: #eeeeee;
}
article {
    border-top:1px solid #ba000d;
}
a {
    text-decoration: none;
    color:#ba000d;
}
.nobg {
    background:none;
}
.nobg * {
    color: white;
}

header nav {
    padding: 1rem;
    padding-bottom: 0.5rem;
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    row-gap: 0.5rem;;
    grid-template-rows: 2rem 2rem 2rem 2rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
        "logo       title     .   .             ."
        "slogan     slogan   slogan   slogan    slogan"
        "news      .     formation     .      contact"
        "tutoriels   .   emploi         emploi ."
        ;
}
nav * {
    text-align:left;
    padding:0;
}
header h1 {
    grid-area: title;
}
header .logo {
    grid-area: logo;
}
header .logo img {
    width:auto;
    text-align:left;
}
header strong {
    grid-area: slogan;
}
nav .news {
    grid-area: news;
}
nav .tutoriels {
    grid-area: tutoriels;
}
nav .formation {
    grid-area: formation;
}
nav .contact {
    grid-area: contact;
}
nav .emploi {
    grid-area: emploi;
}

.cta {
    display: inline-block;
    padding:1rem;
    margin:1rem 0;
    cursor: pointer;
    border:1px solid #aaff66;
    border-radius: 0.5rem;
    background-color:#eeeeee;
}

section a > *:after {
    content: ' 🔗';
}

li, li * {
    text-align:left;
}

article img[alt~='cover'] {
    object-fit: cover;
    width:100%;
    height:30vmin;
}
article p {
    text-align: left;
}
article .date {
    display:inline-block;
    padding:1rem;
    width:100%;
    text-align: right;
    background-color:#dddddd;
    margin-top:1rem;
}
code {
    margin:1rem;
}
pre.xcode {
    background-color: #dddddd;
    padding: 1rem;
}

main nav {
    padding:1rem;
}
main nav a {
    padding: 1rem;
    background-color: #eeeeee;
    display: inline-block;
    width: auto;
}
main article {
    line-height: 1.5rem;
}
section.single article {
    width:100%;
}

/* https://developer.mozilla.org/fr/docs/Web/CSS/Requ%C3%AAtes_m%C3%A9dia/Utiliser_les_Media_queries */
@media (max-width: 480px)
{
    html, body {
        font-size:14px;
    }
    header {
        background:#ffffff;
    }
    
    section:first-of-type img {
        height: 25vmax;
    }
    
}

@media (min-width: 480px)
{

    header, header a, footer {
        color:#ffffff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    
    section {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items:stretch;
    }
    section.x2col > * {
        width: calc(100% / 2);
    }
    section.x2col h1, section.x2col h2 {
        width:100%;
    }
    section.x3col > * {
        width: calc(100% / 2);
    }
    section.x3col h1, section.x2col h2 {
        width:100%;
    }
    section.x3col h1, section.x2col h2 {
        width:100%;
    }

    section article {
        width: calc(100% / 2);
    }

    .w10 {
        width:10%;
    }
    .w20 {
        width:20%;
    }
    .w30 {
        width:30%;
    }
    .w40 {
        width:40%;
    }
    .w50 {
        width:50%;
    }
    section article.w33 {
        width:calc(100% / 3);
    }
    section article.w67 {
        width:calc(2 * 100% / 3);
    }

}

@media (min-width: 720px)
{
    header nav {
        grid-template-columns: 20% 15% 20% 20% 20%;
        grid-template-areas: 
            "slogan       slogan     slogan        . ."
            "title       news tutoriels  . . "
            "logo       contact formation  . . "
            ".    . emploi     emploi . "
            ;
    }
}

@media (min-width: 960px)
{
    section article {
        width: calc(100% / 4);
    }
    section.x3col > * {
        width: calc(100% / 3);
    }
}
.w100, section > .w100 {
    width:100%;
}


/*********************/
/* SPECIFIC PAGE CSS */
/*********************/
body.news article p {
    text-align:left;
    white-space: pre-line;
    overflow-x: hidden;
}
body.news article h2:before {
    content: '🔥 ';
}
article.annonce h3 {
    text-align:left;
    padding:1rem;
}
.xmap {
    min-height:80vmin;
}
.xmap * {
    width: auto;
    transition:none;
}
.xmap pre {
    padding:0;
}
.emploi section {
    justify-content: start;
}
.emploi article {
    padding-bottom:2rem;
}