body {
    background: url('../img/xoomcoder.svg') no-repeat fixed center center;
    background-size: 80vmin;
}
main {
    background-color:rgba(222, 222, 222, 0.95);
}
section {
    padding: 0.5rem;
}

.hidden {
    display: none;
}

article {
    border:1px solid #dddddd;
    min-width:240px;
}

article > * {
    padding:0.5rem;
}

.w50 {
    width:50%;
}

pre {
    white-space: pre-wrap;
}
