body {
    background: url('../img/xoomcoder.svg') no-repeat fixed center 80vmin;
    background-size: 10vmin;
}

.hidden {
    display: none;
}

article {
    border:1px solid #dddddd;
    min-width:240px;
}

article > * {
    padding:0.5rem;
}

.w50 {
    width:50%;
}

pre {
    white-space: pre-wrap;
}
